@charset "UTF-8";
@import url(../reset.css);
@font-face {
  font-family: Pretendard-Regular;
  src: url(./font/Pretendard-Regular.woff);
}
@font-face {
  font-family: Pretendard-Medium;
  src: url(./font/Pretendard-Medium.woff);
}
@font-face {
  font-family: Pretendard-SemiBold;
  src: url(./font/Pretendard-SemiBold.woff);
}
@font-face {
  font-family: "ArialRoundedMT";
  src: url(./font/ARIALROUNDEDMT.woff);
}
body {
  color: #333;
  text-transform: capitalize;
  background-color: #FDFDFD;
  user-select: none;
}

.title1 {
  color: #053F64;
  font-size: 22px;
  font-family: ArialRoundedMT;
  padding-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 700;
}

.title2 {
  font-size: 34px;
  font-family: "Pretendard SemiBold";
  font-style: normal;
  font-weight: normal;
}

.sub-title1 {
  font-size: 22px;
  font-family: "Pretendard Medium";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.sub-title2 {
  font-size: 20px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

.body1 {
  font-size: 18px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

.body2 {
  font-size: 16px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

section {
  overflow: hidden;
}
section.sect1 {
  position: relative;
  height: 100vh;
  background-color: #053F64;
  color: #fff;
  padding-left: 30px;
}
section.sect1 .pf_bg {
  position: absolute;
  right: -5px;
  top: -130px;
}
section.sect1 .top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0;
  padding: 30px 0;
}
section.sect1 .top li span {
  padding-left: 10px;
}
section.sect1 .main .desc {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}
section.sect1 .main .desc h2 {
  font-family: ArialRoundedMT;
  font-size: 5rem;
}
section.sect1 .main .desc p {
  padding-top: 20px;
}
section.sect1 .main .thumbnail-main {
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
}
section.sect1 .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  bottom: 0;
  padding: 30px 0;
}
section.sect1 .bottom li span {
  padding-left: 10px;
}
section.sect2 {
  height: 50vh;
  position: relative;
  text-align: center;
}
section.sect2 .desc {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
section.sect2 .desc p {
  line-height: 1.8;
  white-space: nowrap;
}
section.sect3 {
  height: 100vh;
  padding: 80px 150px;
  text-align: center;
  background-color: #1C1C1E;
  color: #fff;
}
section.sect3 .desc .sub-title2 {
  color: #B3B3B3;
  padding: 20px 0;
  line-height: 1.5;
}
section.sect3 .desc .body1 {
  padding: 50px;
  color: #B3B3B3;
}
section.sect3 .research-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 50px;
}
section.sect3 .research-box div {
  width: 450px;
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.sect3 .research-box div li {
  font-size: 18px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.sect3 .research-box div.research1 {
  position: relative;
  background-image: url(./images/target-line1.png);
}
section.sect3 .research-box div.research1 p {
  position: absolute;
  top: -10px;
  right: 80px;
}
section.sect3 .research-box div.research1 li {
  background-color: #053F64;
  box-shadow: 0 0 15px #053F64;
}
section.sect3 .research-box div.research1 li:nth-child(1) {
  right: 60px;
  top: 50px;
}
section.sect3 .research-box div.research1 li:nth-child(2) {
  left: 70px;
  bottom: 60px;
}
section.sect3 .research-box div.research1 li:nth-child(3) {
  left: 60px;
  top: 70px;
}
section.sect3 .research-box div.research1 li:nth-child(4) {
  right: 50px;
  bottom: 70px;
}
section.sect3 .research-box div.research2 {
  position: relative;
  background-image: url(./images/target-line2.png);
}
section.sect3 .research-box div.research2 p {
  position: absolute;
  bottom: -8px;
  left: 80px;
}
section.sect3 .research-box div.research2 li {
  background-color: #333;
  box-shadow: 0 0 15px #333;
}
section.sect3 .research-box div.research2 li:nth-child(1) {
  left: 70px;
  top: 80px;
}
section.sect3 .research-box div.research2 li:nth-child(2) {
  right: 50px;
  top: 125px;
}
section.sect3 .research-box div.research2 li:nth-child(3) {
  left: 130px;
  bottom: 40px;
}
section.sect4 {
  height: 100vh;
  background-color: #053F64;
  color: #fff;
  text-align: center;
}
section.sect4 h2 {
  color: #fff;
}
section.sect4 article {
  position: relative;
}
section.sect4 .desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.sect4 .desc .sub-title1 {
  white-space: nowrap;
}
section.sect4 .goal {
  width: 70%;
  margin: auto;
  height: 40vh;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}
section.sect4 .goal .triangle {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
}
section.sect4 .goal .triangle img {
  width: 100%;
}
section.sect4 .keywords {
  height: 60vh;
}
section.sect4 .keywords ul {
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
section.sect4 .keywords ul li {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background-color: #fff;
  color: #053F64;
}
section.sect4 .keywords ul li h3 {
  font-weight: 600;
}
section.sect4 .keywords ul li:nth-child(1) {
  left: 20px;
}
section.sect4 .keywords ul li:nth-child(3) {
  left: -20px;
}
section.sect4 .keywords ul li .body2 {
  margin-top: 10px;
  color: #6D6E71;
}
section.sect5 {
  position: relative;
  height: 100vh;
  padding: 80px 150px;
}
section.sect5 .title1 {
  text-align: center;
}
section.sect5 .logo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
section.sect5 .logo img {
  display: inline-block;
}
section.sect5 .logo-key {
  position: absolute;
}
section.sect5 .logo-key h2 {
  position: relative;
  display: inline-block;
  color: #053F64;
  font-weight: 600;
}
section.sect5 .logo-key .body2 {
  margin-top: 10px;
  color: #6D6E71;
  line-height: 1.5;
}
section.sect5 .logo-key.self {
  right: 2%;
  top: 27%;
}
section.sect5 .logo-key.self h2::after {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  content: "●";
  color: #053F64;
  font-size: 0.5rem;
}
section.sect5 .logo-key.self h2::before {
  position: absolute;
  left: -150px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 140px;
  height: 2px;
  background-color: #053F64;
}
section.sect5 .logo-key.defiant {
  left: 7%;
  top: 45%;
}
section.sect5 .logo-key.defiant h2::after {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  content: "●";
  color: #053F64;
  font-size: 0.5rem;
}
section.sect5 .logo-key.defiant h2::before {
  position: absolute;
  right: -513px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 500px;
  height: 2px;
  background-color: #053F64;
}
section.sect5 .logo-key.faithful {
  left: 48%;
  bottom: 10%;
}
section.sect5 .logo-key.faithful h2::after {
  position: absolute;
  left: -14.5px;
  top: 12px;
  content: "●";
  color: #053F64;
  font-size: 0.5rem;
}
section.sect5 .logo-key.faithful h2::before {
  position: absolute;
  left: -12px;
  top: -180px;
  content: "";
  width: 2px;
  height: 200px;
  background-color: #053F64;
}
section.sect6 {
  display: flex;
  align-items: center;
}
section.sect6 article {
  width: 50%;
  height: 100vh;
  padding: 80px 150px;
}
section.sect6 article.art1 {
  background-color: #E6ECEF;
}
section.sect6 article.art1 .typography {
  margin-top: 80px;
}
section.sect6 article.art1 .typography .font-style li {
  font-size: 18px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}
section.sect6 article.art1 .typography .font-style li.font-t {
  color: #053F64;
}
section.sect6 article.art1 .typography .font-style li.font-g {
  color: #6D6E71;
}
section.sect6 article.art1 .typography .ar-font h2 {
  font-size: 100px;
  font-family: "ArialRoundedMT";
  color: #053F64;
}
section.sect6 article.art1 .typography .ar-font h3 {
  font-family: "ArialRoundedMT";
  font-size: 20px;
  padding: 10px 0;
}
section.sect6 article.art1 .typography .pr-font h2 {
  font-size: 100px;
  font-family: "Pretendard SemiBold";
  color: #053F64;
}
section.sect6 article.art1 .typography .pr-font h3 {
  font-family: "Pretendard SemiBold";
  font-size: 20px;
  padding: 10px 0;
}
section.sect6 article.art2 .color-box .color {
  width: 400px;
  height: 100px;
  margin-bottom: 100px;
}
section.sect6 article.art2 .color-box .color.main .col1 {
  background-color: #053F64;
}
section.sect6 article.art2 .color-box .color.main .co1 {
  background-color: #03253E;
}
section.sect6 article.art2 .color-box .color.main .co2 {
  background-color: #054269;
}
section.sect6 article.art2 .color-box .color.main .co3 {
  background-color: #185D95;
}
section.sect6 article.art2 .color-box .color.main .co4 {
  background-color: #ABCBE7;
}
section.sect6 article.art2 .color-box .color.neutral .col1 {
  background-color: #333;
}
section.sect6 article.art2 .color-box .color.neutral .co1 {
  background-color: #1C1C1E;
}
section.sect6 article.art2 .color-box .color.neutral .co2 {
  background-color: #6D6E71;
}
section.sect6 article.art2 .color-box .color.neutral .co3 {
  background-color: #B3B3B3;
}
section.sect6 article.art2 .color-box .color.neutral .co4 {
  background-color: #fff;
}
section.sect6 article.art2 .color-box .color .col {
  height: 60%;
}
section.sect6 article.art2 .color-box .color .col.col1 {
  border-radius: 20px 20px 0 0;
  color: #fff;
  padding: 15px;
}
section.sect6 article.art2 .color-box .color .col.col2 {
  border-radius: 0 0 20px 20px;
}
section.sect6 article.art2 .color-box .color .col.col2 ul {
  display: flex;
  align-items: center;
  height: 100%;
}
section.sect6 article.art2 .color-box .color .col.col2 ul li {
  width: 25%;
  height: 100%;
}
section.sect6 article.art2 .color-box .color .col.col2 ul li.co1 {
  border-radius: 0 0 0 20px;
}
section.sect6 article.art2 .color-box .color .col.col2 ul li.co4 {
  border-radius: 0 0 20px 0;
}
section.sect7 {
  height: 100vh;
  background-image: url(./images/symbol-card.png);
}