@charset "UTF-8";
@import url(../reset.css);
@font-face {
  font-family: Pretendard-Regular;
  src: url(./font/Pretendard-Regular.woff);
}
@font-face {
  font-family: Pretendard-Medium;
  src: url(./font/Pretendard-Regular.woff);
}
@font-face {
  font-family: Pretendard-SemiBold;
  src: url(./font/Pretendard-SemiBold.woff);
}
@font-face {
  font-family: "ArialRoundedMT";
  src: url(./font/ARIALROUNDEDMT.woff);
}
body {
  color: #333;
  text-transform: capitalize;
  background-color: #FDFDFD;
  user-select: none;
}

.title1 {
  color: #FF4D4F;
  font-size: 22px;
  font-family: ArialRoundedMT;
  padding-bottom: 20px;
  letter-spacing: 1px;
}

.title2 {
  font-size: 34px;
  font-family: "Pretendard SemiBold";
  font-style: normal;
  font-weight: normal;
}

.sub-title1 {
  font-size: 22px;
  font-family: "Pretendard SemiBold";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.sub-title2 {
  font-size: 20px;
  font-family: "Pretendard Medium";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

.body1 {
  font-size: 18px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

.body2 {
  font-size: 16px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

section {
  overflow: hidden;
}
section.sect1 {
  position: relative;
  height: 100vh;
  background-color: #FF4D4F;
  color: #fff;
  padding-left: 30px;
}
section.sect1 .pf_bg {
  position: absolute;
}
section.sect1 .top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0;
  padding: 30px 0;
}
section.sect1 .top li span {
  padding-left: 10px;
}
section.sect1 .main .desc {
  position: absolute;
}
section.sect1 .main .desc h2 {
  font-family: ArialRoundedMT;
}
section.sect1 .main .desc p {
  padding-top: 20px;
}
section.sect1 .main .app-main {
  position: absolute;
}
section.sect1 .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  bottom: 0;
  padding: 30px 0;
}
section.sect1 .bottom li span {
  padding-left: 10px;
}
section.sect2 {
  height: 50vh;
  position: relative;
  text-align: center;
}
section.sect2 .desc {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
section.sect2 .desc p {
  line-height: 1.8;
  white-space: nowrap;
}
section.sect3 {
  background-color: #FFEEEE;
}
section.sect3 .survey .survey1 .graph {
  align-items: end;
}
section.sect3 .survey .survey1 .graph .graph1 .graph-box {
  height: 190px;
  background-color: #FF4D4F;
}
section.sect3 .survey .survey1 .graph .graph2 .graph-box {
  height: 180px;
  background-color: #FF8B8C;
}
section.sect3 .survey .survey2 .graph {
  align-items: end;
}
section.sect3 .survey .survey2 .graph .graph1 .graph-box {
  height: 210px;
  background-color: #FF4D4F;
}
section.sect3 .survey .survey2 .graph .graph2 .graph-box {
  height: 100px;
  background-color: #FF8B8C;
}
section.sect3 .survey .survey2 .graph .graph3 .graph-box {
  height: 80px;
  background-color: #FF8B8C;
}
section.sect3 .survey .survey3 {
  position: relative;
}
section.sect3 .survey .survey3 .graph {
  align-items: center;
}
section.sect3 .survey .survey3 .graph .circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(#FF4D4F 0% 95.7%, #FFC1C2 95.7% 100%);
  transform: rotate(90deg);
}
section.sect3 .survey .survey3 .graph .circle .desc1 {
  position: absolute;
  top: 115px;
  left: 90px;
  transform: rotate(-90deg);
  color: #fff;
}
section.sect3 .survey .survey3 .graph .circle .desc2 {
  position: absolute;
  top: 10px;
  right: 93px;
  transform: rotate(-90deg);
  color: #fff;
}
section.sect3 .survey .survey3 .graph .circle-list li {
  padding-left: 20px;
  position: relative;
}
section.sect3 .survey .survey3 .graph .circle-list li::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
section.sect3 .survey .survey3 .graph .circle-list li:nth-child(1) {
  color: #FF4D4F;
}
section.sect3 .survey .survey3 .graph .circle-list li:nth-child(1)::after {
  background-color: #FF4D4F;
}
section.sect3 .survey .survey3 .graph .circle-list li:nth-child(2) {
  color: #FFC1C2;
}
section.sect3 .survey .survey3 .graph .circle-list li:nth-child(2)::after {
  background-color: #FFC1C2;
}
section.sect3 .survey .survey3::after {
  content: "2024.09.10 실시 / 102명 참여";
  font-size: 16px;
  color: #6D6E71;
  position: absolute;
  right: 10px;
  top: -25px;
}
section.sect3 .survey > li {
  height: 580px;
  border-radius: 10px;
  background-color: #fff;
  padding: 40px;
}
section.sect3 .survey > li .question {
  display: flex;
  align-items: center;
  gap: 10px;
}
section.sect3 .survey > li .question .q-box {
  display: inline-block;
  padding: 5px 10px;
  background-color: #FF4D4F;
  color: #fff;
  font-family: ArialRoundedMT;
  font-size: 20px;
  border-radius: 2px;
}
section.sect3 .survey > li .question .body1 {
  padding: 5px;
  color: #FF4D4F;
  white-space: nowrap;
}
section.sect3 .survey > li .graph {
  height: 330px;
  margin-top: 20px;
  border-bottom: 1px dashed #B3B3B3;
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
section.sect3 .survey > li .graph ul.graph1 .g-box {
  background-color: #FF4D4F;
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
}
section.sect3 .survey > li .graph ul.graph2 .g-box {
  color: #6D6E71;
}
section.sect3 .survey > li .graph ul.graph3 .g-box {
  color: #6D6E71;
}
section.sect3 .survey > li .graph .g-box {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
section.sect3 .survey > li .graph .graph-box {
  margin: auto;
  width: 60px;
  border-radius: 50px 50px 0 0;
}
section.sect3 .survey > li .graph .g-text {
  margin: 10px 0;
  color: #6D6E71;
}
section.sect3 .survey > li .key {
  margin-top: 20px;
}
section.sect3 .survey > li .key .k-box {
  display: inline-block;
  padding: 5px 10px;
  background-color: #FFEEEE;
  color: #FF4D4F;
  border-radius: 2px;
}
section.sect3 .survey > li .key .k-text {
  margin-top: 20px;
  color: #6D6E71;
}
section.sect4 {
  height: 100vh;
  background-color: #1C1C1E;
}
section.sect4 .sub-title1 {
  color: #fff;
  text-align: center;
}
section.sect4 .competitors-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
section.sect4 .competitors-list li {
  width: 33.3333%;
  text-align: center;
}
section.sect4 .competitors-list li img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  background-color: #fff;
}
section.sect4 .competitors-list li p {
  color: #fff;
  padding: 10px 0;
}
section.sect4 .strength h2 {
  color: #FF4D4F;
  margin: 30px 0;
}
section.sect4 .strength ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.sect4 .strength ul li {
  width: 30%;
  height: 250px;
  color: #fff;
  padding: 30px;
  background-color: #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}
section.sect4 .strength ul li p {
  position: relative;
  padding-left: 20px;
}
section.sect4 .strength ul li p:nth-child(1) {
  padding-bottom: 5px;
}
section.sect4 .strength ul li p::before {
  position: absolute;
  left: 0;
  top: 5px;
  content: "●";
  color: #fff;
  font-size: 0.5rem;
}
section.sect4 .weakness h2 {
  color: #FF4D4F;
  margin: 30px 0;
}
section.sect4 .weakness ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  border-radius: 10px;
  height: 130px;
}
section.sect4 .weakness ul li {
  position: relative;
  width: 30%;
  padding: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}
section.sect5 {
  height: 100vh;
  background-color: #FF4D4F;
  color: #fff;
  text-align: center;
}
section.sect5 h2 {
  color: #fff;
}
section.sect5 article {
  position: relative;
}
section.sect5 .desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.sect5 .desc .sub-title1 {
  white-space: nowrap;
}
section.sect5 .goal {
  width: 70%;
  margin: auto;
  height: 40vh;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}
section.sect5 .goal .triangle {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
}
section.sect5 .goal .triangle img {
  width: 100%;
}
section.sect5 .keywords {
  height: 60vh;
}
section.sect5 .keywords ul {
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
section.sect5 .keywords ul li {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background-color: #fff;
  color: #FF4D4F;
}
section.sect5 .keywords ul li h3 {
  font-weight: 600;
}
section.sect5 .keywords ul li:nth-child(1) {
  left: 20px;
}
section.sect5 .keywords ul li:nth-child(3) {
  left: -20px;
}
section.sect5 .keywords ul li .body2 {
  margin-top: 10px;
  color: #6D6E71;
}
section.sect6 {
  height: 100vh;
  text-align: center;
}
section.sect6 .asis {
  color: #B3B3B3;
  padding: 20px;
}
section.sect6 .asis h2 {
  padding: 10px;
}
section.sect6 .asis-box {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}
section.sect6 .asis-box img {
  height: 250px;
  object-fit: cover;
  padding: 10px;
}
section.sect6 .asis-box h2 {
  padding: 10px 0;
}
section.sect6 .asis-box .line {
  position: relative;
  width: 1px;
  margin: 20px auto;
  height: 130px;
  border: 1px dashed #FFC1C2;
}
section.sect6 .asis-box .line::after {
  content: "";
  width: 10px;
  height: 10px;
  top: -5px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: #FF4D4F;
  position: absolute;
}
section.sect6 .asis-box .sub-title1 {
  color: #FF4D4F;
}
section.sect6 .asis-box .pink-box {
  width: 270px;
  height: 100px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #FF4D4F;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.sect7 {
  height: 100vh;
  text-align: center;
  background-color: #1C1C1E;
  color: #fff;
}
section.sect7 .desc .sub-title2 {
  color: #B3B3B3;
  padding: 20px 0;
  line-height: 1.5;
}
section.sect7 .desc .body1 {
  padding: 50px;
  color: #B3B3B3;
}
section.sect7 .target-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
section.sect7 .target-box div {
  width: 450px;
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.sect7 .target-box div li {
  font-size: 18px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.sect7 .target-box div.core-target {
  position: relative;
  background-image: url(./images/target-line1.png);
}
section.sect7 .target-box div.core-target p {
  position: absolute;
  top: -10px;
  right: 100px;
}
section.sect7 .target-box div.core-target li {
  background-color: #FF4D4F;
  box-shadow: 0 0 15px #FF4D4F;
}
section.sect7 .target-box div.core-target li:nth-child(1) {
  right: 80px;
  top: 100px;
}
section.sect7 .target-box div.core-target li:nth-child(2) {
  left: 70px;
  bottom: 100px;
}
section.sect7 .target-box div.sub-target {
  position: relative;
  background-image: url(./images/target-line2.png);
}
section.sect7 .target-box div.sub-target p {
  position: absolute;
  bottom: -8px;
  left: 90px;
}
section.sect7 .target-box div.sub-target li {
  background-color: #333;
  box-shadow: 0 0 15px #333;
}
section.sect7 .target-box div.sub-target li:nth-child(1) {
  left: 70px;
  top: 80px;
}
section.sect7 .target-box div.sub-target li:nth-child(2) {
  right: 50px;
  top: 125px;
}
section.sect7 .target-box div.sub-target li:nth-child(3) {
  left: 130px;
  bottom: 40px;
}
section.sect8 {
  padding: 80px 0;
}
section.sect8 .desc {
  text-align: center;
}
section.sect8 .desc .body1 {
  color: #6D6E71;
  line-height: 1.5;
  padding: 20px;
}
section.sect8 .desc .body1 span {
  color: #FF4D4F;
}
section.sect8 .persona-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
section.sect8 .persona-box > div {
  margin: auto;
}
section.sect8 .persona-box h2 {
  margin: auto;
  border-radius: 5px 5px 0 0;
  padding: 15px;
  background-color: #FF4D4F;
  color: #fff;
  text-align: center;
}
section.sect8 .persona-box .persona-desc {
  width: 100%;
  margin: auto;
  border: 1px solid #FF4D4F;
  padding: 20px 50px;
  border-radius: 10px;
}
section.sect8 .persona-box .persona-desc .persona-target {
  width: 100%;
}
section.sect8 .persona-box .persona-desc .persona-target img {
  width: 100px;
  object-fit: cover;
}
section.sect8 .persona-box .persona-desc .persona-target .tag {
  padding: 10px 0;
}
section.sect8 .persona-box .persona-desc .persona-target .tag li {
  display: inline-block;
  font-size: 16px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  background-color: #FFEEEE;
  color: #FF4D4F;
  padding: 5px 10px;
  margin-bottom: 5px;
}
section.sect8 .persona-box .persona-desc .spec-box .spec {
  color: #FF4D4F;
  font-weight: 600;
  padding: 30px 0 20px 0;
}
section.sect8 .persona-box .persona-desc .spec-box .detail {
  color: #6D6E71;
}
section.sect8 .persona-box .painpoint {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  margin-top: 10px;
}
section.sect8 .persona-box .painpoint > div {
  padding: 10px 0;
}
section.sect8 .persona-box .painpoint p {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 8px;
  background-color: #FF4D4F;
  color: #fff;
  text-align: center;
}
section.sect8 .persona-box .painpoint ul {
  padding-top: 10px;
}
section.sect8 .persona-box .painpoint ul li {
  position: relative;
  padding: 5px 0;
  padding-left: 15px;
}
section.sect8 .persona-box .painpoint ul li span {
  color: #FF4D4F;
  padding-right: 5px;
}
section.sect8 .persona-box .painpoint ul li::before {
  position: absolute;
  left: 0;
  content: "#";
  color: #FF4D4F;
  font-size: 1rem;
}
section.sect9 {
  height: 100vh;
  padding: 80px 150px;
  white-space: nowrap;
}
section.sect9 .desc {
  text-align: center;
}
section.sect9 .desc .sub-title2 {
  color: #6D6E71;
}
section.sect9 .jehun-box {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
section.sect9 .jehun-box .jehun img {
  width: 100px;
  object-fit: cover;
}
section.sect9 .jehun-box .jehun p {
  text-align: center;
  padding: 10px;
}
section.sect9 .jehun-box h3 {
  position: absolute;
  bottom: 30px;
  left: 150px;
  line-height: 1.5;
  color: #FF4D4F;
}
section.sect9 .stage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.sect9 .stage ul {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
}
section.sect9 .stage ul li {
  white-space: nowrap;
  padding: 10px 60px;
  background-color: #FF4D4F;
  border-radius: 50px;
  color: #fff;
}
section.sect9 .action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid #FF4D4F;
}
section.sect9 .action ul {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
}
section.sect9 .action ul li {
  padding: 10px;
  background-color: #FFEEEE;
  border-radius: 10px;
}
section.sect9 .feeling {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
section.sect9 .feeling ul {
  width: 90%;
}
section.sect9 .feeling ul li {
  height: 40px;
}
section.sect9 .feeling ul li:not(li:nth-child(7)) {
  border-bottom: 1px dashed #B3B3B3;
}
section.sect9 .feeling .map {
  position: absolute;
  bottom: 0;
  left: 200px;
}
section.sect9 .painpoint {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-top: 1px solid #FF4D4F;
  border-bottom: 1px solid #FF4D4F;
  color: #FF4D4F;
}
section.sect9 .painpoint ul {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
}
section.sect9 .painpoint ul li {
  width: 30%;
  padding: 10px;
}
section.sect9 .opportunites {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
section.sect9 .opportunites ul {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
}
section.sect9 .opportunites ul li {
  width: 30%;
  padding: 10px;
}
section.sect10 {
  white-space: nowrap;
  height: 100vh;
  padding: 80px 150px;
  text-align: center;
  background-color: #1C1C1E;
  font-size: 18px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
}
section.sect10 li {
  width: 130px;
  height: 55px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.sect10 .pink-box {
  background-color: #FF4D4F;
  color: #fff;
  z-index: 10;
}
section.sect10 .lpink-box li {
  background-color: #FFEEEE;
  color: #333;
}
section.sect10 .information {
  position: relative;
  height: calc(100% - 130px);
  left: 50%;
  transform: translateX(-50%);
  padding: 0 100px;
  margin-top: 30px;
}
section.sect10 .information > ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
section.sect10 .information .info1 {
  position: absolute;
  top: 10px;
  left: 20%;
}
section.sect10 .information .splash {
  position: relative;
}
section.sect10 .information .splash::before {
  content: "";
  width: 470px;
  height: 1px;
  position: absolute;
  left: 130px;
  top: 50%;
  transform: translateY(-50%);
  background: repeating-linear-gradient(to right, transparent 0, transparent 5px, #FFEEEE 5px, #FFEEEE 10px);
}
section.sect10 .information .home {
  position: relative;
}
section.sect10 .information .home::before {
  content: "";
  width: 1px;
  height: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  background: repeating-linear-gradient(to bottom, transparent 0, transparent 5px, #FFEEEE 5px, #FFEEEE 10px);
}
section.sect10 .information .culture {
  position: relative;
}
section.sect10 .information .culture::before {
  content: "";
  width: 600px;
  height: 1px;
  position: absolute;
  left: 130px;
  top: 50%;
  transform: translateY(-50%);
  background: repeating-linear-gradient(to right, transparent 0, transparent 5px, #FFEEEE 5px, #FFEEEE 10px);
}
section.sect10 .information .culture::after {
  content: "";
  width: 1px;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  background: repeating-linear-gradient(to bottom, transparent 0, transparent 5px, #FFEEEE 5px, #FFEEEE 10px);
  z-index: -10;
}
section.sect10 .information .category {
  position: relative;
}
section.sect10 .information .category::before {
  content: "";
  width: 1px;
  height: 600px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  background: repeating-linear-gradient(to bottom, transparent 0, transparent 5px, #FFEEEE 5px, #FFEEEE 10px);
}
section.sect10 .information .search {
  position: relative;
}
section.sect10 .information .search::before {
  content: "";
  width: 1px;
  height: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  background: repeating-linear-gradient(to bottom, transparent 0, transparent 5px, #FFEEEE 5px, #FFEEEE 10px);
}
section.sect10 .information .my {
  position: relative;
}
section.sect10 .information .my::before {
  content: "";
  width: 1px;
  height: 400px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  background: repeating-linear-gradient(to bottom, transparent 0, transparent 5px, #FFEEEE 5px, #FFEEEE 10px);
}
section.sect10 .information .banner {
  position: relative;
}
section.sect10 .information .banner::before {
  content: "";
  width: 1px;
  height: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  background: repeating-linear-gradient(to bottom, transparent 0, transparent 5px, #FFEEEE 5px, #FFEEEE 10px);
}
section.sect10 .information ul.info2 {
  position: absolute;
  top: 80px;
  display: flex;
  align-items: center;
  gap: 50px;
}
section.sect10 .information ul.info2 ul {
  position: absolute;
  top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
section.sect10 .information .info3 {
  position: absolute;
  top: 93px;
}
section.sect10 .information .info3 ul {
  position: absolute;
  top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
section.sect11 {
  height: 50vh;
  background-color: #FF4D4F;
  color: #fff;
}
section.sect11 h2 {
  color: #fff;
  text-align: center;
}
section.sect11 .logo-box {
  height: 100%;
}
section.sect11 .logo-box .logo {
  display: inline-block;
  background-image: url(./images/check-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.sect11 .logo-box .logo img {
  width: 300px;
  object-fit: cover;
}
section.sect11 .logo-box .desc .title2 {
  white-space: nowrap;
}
section.sect11 .logo-box .desc p {
  padding-top: 20px;
}
section.sect12 article {
  height: 100%;
}
section.sect12 article.art1 {
  background-color: #FFEEEE;
}
section.sect12 article.art1 .typography {
  margin-top: 80px;
}
section.sect12 article.art1 .typography .font-style li {
  font-size: 18px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}
section.sect12 article.art1 .typography .font-style li.font-t {
  color: #FF4D4F;
}
section.sect12 article.art1 .typography .font-style li.font-g {
  color: #6D6E71;
}
section.sect12 article.art1 .typography .ar-font h2 {
  font-size: 100px;
  font-family: "ArialRoundedMT";
  color: #FF4D4F;
}
section.sect12 article.art1 .typography .ar-font h3 {
  font-family: "ArialRoundedMT";
  font-size: 20px;
  padding: 10px 0;
}
section.sect12 article.art1 .typography .pr-font h2 {
  font-size: 100px;
  font-family: "Pretendard SemiBold";
  color: #FF4D4F;
}
section.sect12 article.art1 .typography .pr-font h3 {
  font-family: "Pretendard SemiBold";
  font-size: 20px;
  padding: 10px 0;
}
section.sect12 article.art2 .color-box .color {
  width: 400px;
  height: 100px;
  margin-bottom: 100px;
}
section.sect12 article.art2 .color-box .color.main .col1 {
  background-color: #FF4D4F;
}
section.sect12 article.art2 .color-box .color.main .co1 {
  background-color: #FF8B8C;
}
section.sect12 article.art2 .color-box .color.main .co2 {
  background-color: #FFC1C2;
}
section.sect12 article.art2 .color-box .color.main .co3 {
  background-color: #FFEEEE;
}
section.sect12 article.art2 .color-box .color.main .co4 {
  background-color: #FFF8F7;
}
section.sect12 article.art2 .color-box .color.neutral .col1 {
  background-color: #333;
}
section.sect12 article.art2 .color-box .color.neutral .co1 {
  background-color: #1C1C1E;
}
section.sect12 article.art2 .color-box .color.neutral .co2 {
  background-color: #6D6E71;
}
section.sect12 article.art2 .color-box .color.neutral .co3 {
  background-color: #B3B3B3;
}
section.sect12 article.art2 .color-box .color.neutral .co4 {
  background-color: #FDFDFD;
}
section.sect12 article.art2 .color-box .color .col {
  height: 60%;
}
section.sect12 article.art2 .color-box .color .col.col1 {
  border-radius: 20px 20px 0 0;
  color: #fff;
  padding: 15px;
}
section.sect12 article.art2 .color-box .color .col.col2 {
  border-radius: 0 0 20px 20px;
}
section.sect12 article.art2 .color-box .color .col.col2 ul {
  display: flex;
  align-items: center;
  height: 100%;
}
section.sect12 article.art2 .color-box .color .col.col2 ul li {
  width: 25%;
  height: 100%;
}
section.sect12 article.art2 .color-box .color .col.col2 ul li.co1 {
  border-radius: 0 0 0 20px;
}
section.sect12 article.art2 .color-box .color .col.col2 ul li.co4 {
  border-radius: 0 0 20px 0;
}
section.sect12 article.art2 .icon {
  margin-top: 80px;
  height: 50%;
}
section.sect12 article.art2 .icon > ul > li {
  font-size: 20px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  width: 140px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
  white-space: nowrap;
}
section.sect12 article.art2 .icon .icon-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
section.sect12 article.art2 .icon .icon-box img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid #333;
  padding: 5px;
  border-radius: 5px;
}
section.sect12 article.art2 .icon .nav {
  height: 70px;
}
section.sect12 article.art2 .icon .nav .icon-box {
  width: 350px;
}
section.sect12 article.art2 .icon .category {
  height: 150px;
}
section.sect12 article.art2 .icon .category .icon-box {
  width: 300px;
}
section.sect12 article.art2 .icon .sub {
  height: 150px;
}
section.sect12 article.art2 .icon .sub .icon-box {
  width: 350px;
}
section.sect13 {
  background-color: #FFF8F7;
  height: auto;
}
section.sect13 .Concept-title {
  width: 80%;
  margin: 80px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.sect13 .Concept-title figure img {
  width: 300px;
  object-fit: cover;
  padding-bottom: 10px;
}
section.sect13 .Concept-title .applogo {
  width: 100px;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1);
}
section.sect13 .art {
  width: 80%;
  margin: 80px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.sect13 .art:nth-child(odd) {
  flex-direction: row-reverse;
}
section.sect13 .art .homeImg {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 600px;
}
section.sect13 .art .homeImg img {
  width: 180px;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1);
}
section.sect13 .art .homeDesc {
  width: 550px;
}
section.sect13 .art .homeDesc .homeDesc-title {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FF4D4F;
  padding-bottom: 20px;
}
section.sect13 .art .homeDesc .homeDesc-title img {
  width: 34px;
}

footer {
  height: 30vh;
  background-color: #FF4D4F;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  section.sect1 .sub-title2 {
    font-size: 3vw;
  }
  section.sect1 .pf_bg {
    text-align: right;
    right: -100px;
    top: -50px;
  }
  section.sect1 .main .desc {
    left: 10%;
    top: 65%;
  }
  section.sect1 .main .desc h2 {
    font-size: 3rem;
  }
  section.sect1 .main .app-main {
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    width: 500px;
  }
  section.sect2 .desc {
    width: 100%;
    padding: 0 20px;
  }
  section.sect2 .desc .sub-title1 {
    font-size: 3vw;
    white-space: wrap;
  }
  section.sect3 {
    height: 190vh;
    padding: 80px 20px;
  }
  section.sect3 .sub-title1 {
    font-size: 3vw;
    white-space: wrap;
  }
  section.sect3 .survey > li {
    width: 100%;
    margin: 20px 0;
  }
  section.sect4 {
    padding: 80px 20px;
  }
  section.sect5 .goal .desc .sub-title1 {
    font-size: 3vw;
  }
  section.sect5 .goal .triangle {
    bottom: -20px;
    width: 30px;
    height: 30px;
  }
  section.sect5 .keywords ul li {
    width: 180px;
    height: 180px;
  }
  section.sect5 .keywords ul li .sub-title1 {
    font-size: 3.5vw;
  }
  section.sect5 .keywords ul li .body2 {
    font-size: 2.8vw;
    z-index: 10;
  }
  section.sect6 {
    height: 170vh;
    padding: 80px 20px;
  }
  section.sect6 .asis-box {
    flex-direction: column;
  }
  section.sect7 {
    height: 140vh;
    padding: 80px 20px;
  }
  section.sect7 .target-box {
    flex-direction: column;
    gap: 50px;
  }
  section.sect8 {
    height: 230vh;
  }
  section.sect8 .persona-box {
    flex-direction: column;
    gap: 50px;
  }
  section.sect8 .persona-box > div {
    width: 90%;
  }
  section.sect8 .persona-box h2 {
    width: 90%;
  }
  section.sect8 .persona-box .persona-target img {
    padding-bottom: 20px;
  }
  section.sect8 .persona-box .painpoint {
    flex-direction: column;
  }
  section.sect8 .persona-box .painpoint > div {
    width: 100%;
    padding: 20px 50px;
  }
  section.sect11 {
    padding: 80px 20px;
  }
  section.sect11 .logo {
    width: 100%;
    padding: 30px 0 50px 0;
    text-align: center;
  }
  section.sect11 .desc {
    width: 82%;
    margin: auto;
  }
  section.sect12 article {
    padding: 80px 20px;
    width: 100%;
  }
}
@media screen and (min-width: 801px) {
  section.sect1 .pf_bg {
    right: -5px;
    top: -130px;
  }
  section.sect1 .main .desc {
    left: 10%;
    top: 65%;
  }
  section.sect1 .main .desc h2 {
    font-size: 3rem;
  }
  section.sect1 .main .app-main {
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 700px;
  }
  section.sect3 {
    height: 210vh;
    padding: 80px 100px;
  }
  section.sect3 .sub-title1 {
    font-size: 24px;
    white-space: wrap;
  }
  section.sect3 .survey > li {
    width: 100%;
    margin: 20px 0;
  }
  section.sect4 {
    padding: 80px 100px;
  }
  section.sect6 {
    padding: 80px 150px;
  }
  section.sect7 {
    height: 130vh;
    padding: 80px 20px;
  }
  section.sect7 .target-box {
    flex-direction: column;
    gap: 50px;
  }
  section.sect8 {
    height: 190vh;
  }
  section.sect8 .persona-box {
    flex-direction: column;
    gap: 30px;
  }
  section.sect8 .persona-box > div {
    width: 800px;
  }
  section.sect8 .persona-box h2 {
    width: 450px;
  }
  section.sect8 .persona-box .persona-target img {
    padding-bottom: 20px;
  }
  section.sect8 .persona-box .painpoint .pain {
    padding: 10px;
  }
  section.sect8 .persona-box .painpoint .need {
    border-left: 1px dashed #FF4D4F;
    padding: 10px;
  }
  section.sect8 .spec-box .detail {
    height: 110px;
  }
  section.sect11 {
    padding: 80px 100px;
  }
  section.sect11 .logo-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  section.sect11 .desc {
    width: calc(100% - 350px);
  }
  section.sect12 {
    display: flex;
    align-items: center;
  }
  section.sect12 article {
    height: 100vh;
    padding: 80px 50px;
    width: 50%;
  }
}
@media screen and (min-width: 1300px) {
  section.sect1 .main .desc {
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
  }
  section.sect1 .main .desc h2 {
    font-size: 5rem;
  }
  section.sect1 .main .app-main {
    width: 900px;
  }
  section.sect3 {
    height: 100vh;
    padding: 80px 120px;
  }
  section.sect3 .survey {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  section.sect3 .survey > li {
    width: 32%;
  }
  section.sect3 .survey > li .body1 {
    white-space: wrap;
  }
  section.sect4 {
    padding: 80px 200px;
  }
  section.sect7 {
    height: 100vh;
    padding: 80px 150px;
  }
  section.sect7 .target-box {
    flex-direction: row;
  }
  section.sect8 {
    height: 100vh;
    padding: 80px 150px;
  }
  section.sect8 .persona-box {
    flex-direction: row;
  }
  section.sect8 .persona-box > div {
    width: 900px;
  }
  section.sect8 .persona-box h2 {
    width: 450px;
  }
  section.sect8 .persona-box .persona-target {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  section.sect8 .spec-box .detail {
    height: 110px;
  }
  section.sect11 {
    padding: 80px 200px;
  }
  section.sect11 .desc {
    width: 60%;
  }
  section.sect12 article {
    padding: 80px 150px;
  }
}