@import url(../reset.css);
@font-face {
  font-family: Pretendard-Regular;
  src: url(./font/Pretendard-Regular.woff);
}
@font-face {
  font-family: Pretendard-Medium;
  src: url(./font/Pretendard-Medium.woff);
}
@font-face {
  font-family: Pretendard-SemiBold;
  src: url(./font/Pretendard-SemiBold.woff);
}
@font-face {
  font-family: "Anton", serif;
  src: url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
}
@font-face {
  font-family: "ArialRoundedMT";
  src: url(./font/ARIALROUNDEDMT.woff);
}
body {
  color: #333;
  text-transform: capitalize;
  background-color: #FDFDFD;
  user-select: none;
}

.title1 {
  color: #046BA9;
  font-size: 22px;
  font-family: ArialRoundedMT;
  padding-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 700;
}

.title2 {
  font-size: 34px;
  font-family: "Pretendard SemiBold";
  font-style: normal;
  font-weight: normal;
}

.sub-title1 {
  font-size: 22px;
  font-family: "Pretendard Medium";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.sub-title2 {
  font-size: 20px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

.body1 {
  font-size: 18px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

.body2 {
  font-size: 16px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

section {
  overflow: hidden;
}
section.sect1 {
  position: relative;
  height: 100vh;
  background-color: #046BA9;
  color: #fff;
  padding-left: 30px;
}
section.sect1 .pf_bg {
  position: absolute;
  right: -5px;
  top: -130px;
}
section.sect1 .top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0;
  padding: 30px 0;
}
section.sect1 .top li span {
  padding-left: 10px;
}
section.sect1 .main .desc {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}
section.sect1 .main .desc h2 {
  font-family: ArialRoundedMT;
  font-size: 5rem;
}
section.sect1 .main .desc p {
  padding-top: 20px;
}
section.sect1 .main .thumbnail-main {
  position: absolute;
  right: 15%;
  top: 55%;
  transform: translateY(-50%);
}
section.sect1 .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  bottom: 0;
  padding: 30px 0;
}
section.sect1 .bottom li span {
  padding-left: 10px;
}
section.sect2 {
  height: 50vh;
  position: relative;
  text-align: center;
}
section.sect2 .desc {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
section.sect2 .desc p {
  line-height: 1.8;
  white-space: nowrap;
}
section.sect3 {
  height: 100vh;
  background-color: #046BA9;
  color: #fff;
  text-align: center;
}
section.sect3 h2 {
  color: #fff;
}
section.sect3 article {
  position: relative;
}
section.sect3 .desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.sect3 .desc .sub-title1 {
  white-space: nowrap;
}
section.sect3 .goal {
  width: 70%;
  margin: auto;
  height: 40vh;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}
section.sect3 .goal .triangle {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
}
section.sect3 .goal .triangle img {
  width: 100%;
}
section.sect3 .keywords {
  height: 60vh;
}
section.sect3 .keywords ul {
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
section.sect3 .keywords ul li {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background-color: #fff;
  color: #046BA9;
}
section.sect3 .keywords ul li h3 {
  font-weight: 600;
}
section.sect3 .keywords ul li:nth-child(1) {
  left: 20px;
}
section.sect3 .keywords ul li:nth-child(3) {
  left: -20px;
}
section.sect3 .keywords ul li .body2 {
  margin-top: 10px;
  color: #6D6E71;
}
section.sect4 {
  height: 100vh;
  text-align: center;
  padding: 80px 150px;
}
section.sect4 .asis {
  color: #B3B3B3;
  padding: 20px;
}
section.sect4 .asis h2 {
  padding: 10px;
}
section.sect4 .asis-box {
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: center;
}
section.sect4 .asis-box img {
  height: 230px;
  object-fit: cover;
  padding: 10px;
}
section.sect4 .asis-box h2 {
  padding: 10px 0;
}
section.sect4 .asis-box .line {
  position: relative;
  width: 1px;
  margin: 20px auto;
  height: 80px;
  border: 1px dashed #E6F1F7;
}
section.sect4 .asis-box .line::after {
  content: "";
  width: 10px;
  height: 10px;
  top: -5px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: #046BA9;
  position: absolute;
}
section.sect4 .asis-box .sub-title1 {
  color: #046BA9;
}
section.sect4 .asis-box .pink-box {
  width: 270px;
  height: 100px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #046BA9;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.sect5 {
  height: 100vh;
  padding: 80px 150px;
  text-align: center;
  background-color: #1C1C1E;
  color: #fff;
}
section.sect5 .desc .sub-title2 {
  color: #B3B3B3;
  padding: 20px 0;
  line-height: 1.5;
}
section.sect5 .desc .body1 {
  padding: 50px;
  color: #B3B3B3;
}
section.sect5 .target-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
section.sect5 .target-box div {
  width: 450px;
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.sect5 .target-box div li {
  font-size: 18px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.sect5 .target-box div.core-target {
  position: relative;
  background-image: url(./images/target-line1.png);
}
section.sect5 .target-box div.core-target p {
  position: absolute;
  top: -10px;
  right: 100px;
}
section.sect5 .target-box div.core-target li {
  background-color: #046BA9;
  box-shadow: 0 0 15px #046BA9;
  line-height: 1.5;
}
section.sect5 .target-box div.core-target li:nth-child(1) {
  right: 80px;
  top: 100px;
}
section.sect5 .target-box div.core-target li:nth-child(2) {
  left: 70px;
  bottom: 100px;
}
section.sect5 .target-box div.sub-target {
  position: relative;
  background-image: url(./images/target-line2.png);
}
section.sect5 .target-box div.sub-target p {
  position: absolute;
  bottom: -8px;
  left: 90px;
}
section.sect5 .target-box div.sub-target li {
  background-color: #333;
  box-shadow: 0 0 15px #333;
  line-height: 1.5;
}
section.sect5 .target-box div.sub-target li:nth-child(1) {
  left: 70px;
  top: 80px;
}
section.sect5 .target-box div.sub-target li:nth-child(2) {
  right: 50px;
  top: 125px;
}
section.sect5 .target-box div.sub-target li:nth-child(3) {
  left: 130px;
  bottom: 40px;
}
section.sect6 {
  display: flex;
  align-items: center;
}
section.sect6 article {
  width: 50%;
  height: 100vh;
  padding: 80px 150px;
}
section.sect6 article.art1 {
  background-color: #E6F1F7;
}
section.sect6 article.art1 .typography {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
section.sect6 article.art1 .typography .font-style li {
  font-size: 18px;
  font-family: "Pretendard Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}
section.sect6 article.art1 .typography .font-style li.font-t {
  color: #046BA9;
}
section.sect6 article.art1 .typography .font-style li.font-g {
  color: #6D6E71;
}
section.sect6 article.art1 .typography .font h2 {
  font-size: 100px;
  color: #046BA9;
}
section.sect6 article.art1 .typography .font h3 {
  font-family: "Pretendard Medium";
  font-size: 20px;
  padding: 10px 0;
}
section.sect6 article.art1 .typography .font1 {
  width: 100%;
}
section.sect6 article.art1 .typography .font1 h2 {
  font-family: "Pretendard SemiBold";
}
section.sect6 article.art1 .typography .font2 {
  width: 50%;
}
section.sect6 article.art1 .typography .font2 h2 {
  height: 150px;
  font-family: "Anton", serif;
}
section.sect6 article.art1 .typography .font3 {
  width: 50%;
}
section.sect6 article.art1 .typography .font3 h2 {
  height: 150px;
  display: table-cell;
  vertical-align: bottom;
  font-family: "Apple SD Gothic Neo", sans-serif;
  font-weight: 700;
}
section.sect6 article.art2 .color-box .color {
  width: 400px;
  height: 100px;
  margin-bottom: 100px;
}
section.sect6 article.art2 .color-box .color.main .col1 {
  background-color: #30F0E2;
}
section.sect6 article.art2 .color-box .color.main .co1 {
  background-color: #0B4D7C;
}
section.sect6 article.art2 .color-box .color.main .co2 {
  background-color: #003058;
}
section.sect6 article.art2 .color-box .color.main .co3 {
  background-color: #1B243C;
}
section.sect6 article.art2 .color-box .color.main .co4 {
  background-color: #0B0C1F;
}
section.sect6 article.art2 .color-box .color.neutral .col1 {
  background-color: #333;
}
section.sect6 article.art2 .color-box .color.neutral .co1 {
  background-color: #1C1C1E;
}
section.sect6 article.art2 .color-box .color.neutral .co2 {
  background-color: #6D6E71;
}
section.sect6 article.art2 .color-box .color.neutral .co3 {
  background-color: #B3B3B3;
}
section.sect6 article.art2 .color-box .color.neutral .co4 {
  background-color: #fff;
}
section.sect6 article.art2 .color-box .color .col {
  height: 60%;
}
section.sect6 article.art2 .color-box .color .col.col1 {
  border-radius: 20px 20px 0 0;
  color: #fff;
  padding: 15px;
}
section.sect6 article.art2 .color-box .color .col.col2 {
  border-radius: 0 0 20px 20px;
}
section.sect6 article.art2 .color-box .color .col.col2 ul {
  display: flex;
  align-items: center;
  height: 100%;
}
section.sect6 article.art2 .color-box .color .col.col2 ul li {
  width: 25%;
  height: 100%;
}
section.sect6 article.art2 .color-box .color .col.col2 ul li.co1 {
  border-radius: 0 0 0 20px;
}
section.sect6 article.art2 .color-box .color .col.col2 ul li.co4 {
  border-radius: 0 0 20px 0;
}
section.sect6 article.art2 .icon ul.icon-box {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
section.sect6 article.art2 .icon ul.icon-box li {
  text-align: center;
}
section.sect6 article.art2 .icon ul.icon-box li:nth-child(even) p {
  position: relative;
  width: 100%;
  height: 30px;
}
section.sect6 article.art2 .icon ul.icon-box li:nth-child(even) p::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #046BA9;
}
section.sect6 article.art2 .icon ul.icon-box li:nth-child(even) p::before {
  content: "\\";
  font-size: 22px;
  color: #046BA9;
  position: absolute;
  top: -3px;
  right: 3px;
  transform: rotate(-40deg);
}
section.sect6 article.art2 .icon ul.icon-box li img {
  width: 100%;
  padding-bottom: 50px;
}
section.sect10 {
  height: 100vh;
  background-image: url(./images/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.sect11 {
  height: auto;
}
section.sect11 figure {
  width: 70%;
  text-align: center;
  margin: 80px auto;
}
section.sect11 figure img {
  width: 100%;
  background-color: #000;
  border-radius: 50px;
  border: 30px solid #000;
}
section.sect11 figure figcaption {
  padding-top: 70px;
}

footer {
  height: 30vh;
  background-color: #046BA9;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}